body{
  /* background-color: #f3dcd0; */
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);

}
.container-cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 100px;
    flex-direction: row;
    /* border: 1px solid red; */
  }
  /* .flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-right: 20px;
    margin-bottom: 40px;
  } 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    border-radius: 1rem;
  } 
  
  .flip-card-front {
    overflow: hidden;
  } 
  
  .flip-card-front img{
    width: 250px;
    height: 300px;
    
  }
  .flip-card-back {
    background: #f12711;  
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  
    background: linear-gradient(to right, #f5af19, #f12711); 
    color: #fff;
    transform: rotateY(180deg);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .flip-card-back p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
  
  
  }
  .flip-card-back h4{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  } */

/* .row{
  background-color: #FAFAFA;
} */
 .product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
  width: 250px;
  height: 300px;
  background-color: #FAFAFA;
}
.product-grid .product-discount-label{
  color: #fff;
  background: #A5BA8D;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
  background: #333;
}
.product-grid .add-to-cart{
  background: #A5BA8D;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
